html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    cursor: url('.public/images/pua.png'), auto;
}

canvas {
    width: 100%;
    height: auto;
    background: #111;
}

#valentinesButton {
    display: none;
    position: absolute;
    background-color: #2d2dff;
    border: 2px solid #2d2dff;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 16px;
    font-family: "Courier New", sans-serif;
    border-radius: 10px;
    top: calc(50% + 150px); /* Adjust based on canvas height and text position */
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  #valentinesButton:hover {
    background-color: #1f1faa;
    color: #eee;
}
// script.js
function createShootingStar() {
    const star = document.getElementById('shooting-star');

    const startX = Math.random() * window.innerWidth;
    const startY = Math.random() * window.innerHeight;
    star.style.left = `${startX}px`;
    star.style.top = `${startY}px`;

    const endX = window.innerWidth + 100; // Add some extra width for off-screen animation
    const duration = Math.random() * 3000 + 2000; // Random duration between 2 to 5 seconds

    let opacity = 0;

    const moveStar = () => {
        opacity += 0.01; // Increase opacity gradually
        star.style.opacity = opacity;

        if (startX < endX) {
            startX += 1; // Move the star horizontally
            star.style.left = `${startX}px`;
            requestAnimationFrame(moveStar);
        }
    };

    moveStar();

    // Remove the star after animation completes
    setTimeout(() => {
        star.style.display = 'none';
    }, duration);
}

// Create a new shooting star every few seconds
setInterval(createShootingStar, 5000); // Create a star every 5 seconds
