html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    cursor: url('./images/pua.png'), auto;
}

canvas {
    width: 100%;
    height: auto;
    background: #111;
}

#valentinesButton {
    display: none;
    position: absolute;
    background-color: #2d2dff;
    border: 2px solid #2d2dff;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    top: calc(50% + 150px); /* Adjust based on canvas height and text position */
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  #valentinesButton:hover {
    background-color: #1f1faa;
    color: #eee;
}
/* styles.css */
body {
    margin: 0;
    overflow: hidden;
    /* Add any other global styles here */
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    animation: shootingStar 2s linear infinite;
    /* Customize star appearance here */
}

@keyframes shootingStar {
    0% {
        transform: translate(-100%, -100%);
        opacity: 1;
    }
    100% {
        transform: translate(100vw, 100vh);
        opacity: 0;
    }
}

/* styles.css */
body {
    margin: 0;
    overflow: hidden;
}

.shooting-star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.star {
    width: 20px;
    height: 20px;
    background-color: #f9e000;
    border-radius: 50%;
    position: absolute;
    animation: shootingStar 3s linear infinite;
}

.cat {
    width: 40px;
    height: 40px;
    background-image: url('cat.png'); /* Replace with your cat image */
    background-size: cover;
    position: absolute;
    top: -20px;
    left: 0;
}

@keyframes shootingStar {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(200px) translateY(200px);
    }
}


